img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

body {
    text-align:center;
}


main p {
    margin: 10px auto;
}

nav, footer{
    background-color: steelblue;
    color: white;
}

a:hover {
    background-color: white;
    color: steelblue;
}

